#thumbWrapper {
    width: 100%;
    height: 420px !important;
    overflow-y: hidden;
    overflow-x: scroll;
}



#thumbList {
    white-space: nowrap;
    margin: 0px;
}

#thumbList li {
    display: inline;
    list-style-type: none;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

#thumbList li:hover{
    opacity: 0.5;
}